body{
	height:100%;
}
html{
	height:100%;
}
#root{
	height:100%;
}

.App-header {
  text-align: center;
  color: white;
  align-items: center;
  min-height: 2em;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.text-block{
	color: #172b4d;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}